<div class="d-flex flex-column justify-content-center align-items-center" style="width: 100%">
  <div class="bg-light rounded shadow p-3">
    <h1 class="pb-2">Register</h1>
    <form [formGroup]="registerForm" (ngSubmit)="onFormSubmit()">
      <div class="form-group mb-3">
        <input
          type="email"
          formControlName="email"
          class="form-control"
          placeholder="Email"
          required
        />
      </div>
      <div class="form-group mb-3">
        <input
          type="password"
          formControlName="password"
          class="form-control"
          placeholder="Password"
          required
        />
      </div>
      <button type="submit" class="btn btn-dark">Register</button>
      <div class="form-group">
        <p class="d-flex justify-content-center gap-1 m-0 mt-2">
          <span>You have an account?</span>
          <a class="nav-link" routerLink="/login"><u>Login</u></a>
        </p>
      </div>
    </form>
  </div>
</div>
