<div class="w-3/4 h-full bg-yellow-100 p-4 flex flex-col">
  <div class="row">
    <div class="col-sm-8">
      <h2>
        <ng-container *ngIf="isOwner && isEditingName; else showChannelName">
          <div class="d-flex align-items-center">
            <input
              type="text"
              [(ngModel)]="editedChannelName"
              class="form-control"
            />
            <button class="btn btn-primary ml-2" (click)="handleSaveName()">Save</button>
          </div>
        </ng-container>
        <ng-template #showChannelName>
          <span (click)="isOwner ? isEditingName = true : undefined">{{ channelName }}</span>
        </ng-template>

        <button *ngIf="isOwner" class="btn btn-danger ml-3" (click)="handleDeleteChannel()">Delete</button>
      </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <div class="flex-1 overflow-y-auto mb-4">
        <div *ngFor="let msg of messages; let i = index" class="mb-2">
          <strong>{{ msg.user.email }}:</strong> {{ msg.content }}
        </div>
      </div>
      <form (submit)="handleSubmit($event)" class="d-flex">
        <input
          type="text"
          [(ngModel)]="message"
          name="message"
          placeholder="Enter your message..."
          class="flex-1 p-2 border border-gray-400 rounded-l"
        />
        <button type="submit" class="btn btn-primary bg-blue-500 text-white px-4 rounded-r">
          Send
        </button>
      </form>
    </div>

    <div class="col-sm-4">
      <h4>Members</h4>
      <button *ngIf="isOwner || isAdmin" class="btn btn-primary" (click)="openModal(modalContent)">
        Add
      </button>

      <div *ngFor="let member of channelMembers" class="mb-2">
        <strong>{{ member.email }} <span>{{ member.role.roleName }}</span></strong>
        <ng-container *ngIf="isOwner && member.role.id === roles.GUEST">
          <button class="btn btn-danger ml-2" (click)="onRemoveGuest.emit(member.id)">X</button>
          <button class="btn btn-success ml-2" (click)="onPromoteToAdmin.emit(member.id)">To Admin</button>
        </ng-container>
      </div>
    </div>
  </div>

  <!-- Add Member Modal -->
  <ng-template #modalContent let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Add New Member</h4>
      <button type="button" class="close" (click)="modal.dismiss('Cross click')">x</button>
    </div>
    <div class="modal-body">
      <div *ngIf="nonMembers.length; else noUsers">
        <div *ngFor="let user of nonMembers" class="d-flex justify-content-between mb-2">
          <span>{{ user.email }}</span>
          <button class="btn btn-success btn-sm" (click)="handleInvite(user.id)">Invite</button>
        </div>
      </div>
      <ng-template #noUsers>
        <p>No users available to invite.</p>
      </ng-template>
    </div>
  </ng-template>
</div>
